# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
    
    - List popular programing languages
    
    - List commonly used libraries for data scientist 
    
    - how to creat and share your jupiter notebook

Some of the popular languages that Data Scientists use are:

    1. Python
    
    2. SQL
    
    3. R

Some of the commonly used libraries used by Data Scientists include:

    1. NUMPY
    
    2. SCIPI
    
    3. PANDAS

| Data Science Tools |
 -------------------
| Jupyter Notebooks |
| RStudio | 
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
print("This a simple arithmetic expression to mutiply then add integers")
(3*4)+5

This a simple arithmetic expression to mutiply then add integers

17

In [14]:
print("This will convert 200 minutes to hours by diving by 60")
200/60

This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author

Youssef LAHLOU